$page_background: #c3cfe2;
$font_color: #fff;
$social_color: #fff;

//socials
$twitch_color: #6441a5;
$facebook_color: #3b5998;
$twitter_color: #00aced;
$github_color: #333;
$linkedin_color: #007bb6;
