@import url("https://fonts.googleapis.com/css?family=Roboto");
@import "./constants";

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(135deg, $page-background);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  margin: 0 0 50px;
  text-align: center;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  max-width: 1120px;
  margin: 20px;

  &__info {
    border-radius: 10px;
    margin: 20px 1.6%;
    overflow: hidden;
    position: relative;
    width: 30%;

    @media (max-width: 960px) {
      width: 48%;
      margin: 15px 1%;
    }

    @media (max-width: 768px) {
      width: 100%;
      margin: 15px 0;
    }
  }

  &__image {
    object-fit: cover;
    transition: transform 200ms ease-in;
    height: 100%;
    width: 100%;

    &:hover {
      transform: scale(1.1);
      opacity: 1;
    }
  }

  &__content {
    background-color: $portfolio-background;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $text-background;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    width: 100%;
    height: 100%;

    &:hover {
      transform: scale(1.1);
      opacity: 1;
    }
  }

  &__link {
    background-color: $text-background;
    border-radius: 3px;
    color: $text-color;
    margin-top: 20px;
    padding: 7px 15px;
    text-decoration: none;
  }
}
